<br>
<div class="container d-flex flex-column align-items-center ">

  <div class="">
    <h2>Créer un compte</h2><br>
  </div>

  <div class="">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "email" %>
      </div><br>

      <div class="field">
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control", placeholder: "prénom" %>
      </div><br>

      <div class="field">
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control", placeholder: "nom" %>
      </div><br>

      <div class="field">
        <%= f.text_area :description, autofocus: true, autocomplete: "description", class: "form-control", placeholder: "description" %>
      </div><br>

      <div class="field">
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> caractères minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "mot de passe" %>
      </div><br>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "confirmer mot de passe" %>
      </div><br>

      <div class="actions">
        <%= f.submit "Créer un compte", class: "btn btn-primary" %>
      </div>
    <% end %>
    <br>

    <%= render "devise/shared/links" %>

  </div>

</div>
